@keyframes animation-layer-2 {
    0% { transform: rotate(0deg); }
    8.0% { transform: rotate(0deg); }
    12.0% { transform: rotate(42deg); }
    16.0% { transform: rotate(-35deg); }
    20.0% { transform: rotate(0deg); }
    23.0% { transform: rotate(28deg); }
    26.0% { transform: rotate(-20deg); }
    29.0% { transform: rotate(0deg); }
    31.0% { transform: rotate(16deg); }
    33.0% { transform: rotate(-12deg); }
    35.0% { transform: rotate(0deg); }	
    37.0% { transform: rotate(-6deg); }
    39.0% { transform: rotate(0deg); }
    40.0% { transform: rotate(6deg); }
    44.0% { transform: rotate(-3deg); }
    49.0% { transform: rotate(2deg);}
    55.0% { transform: rotate(0deg); }
    62.0% { transform: rotate(1deg); }
    70.0% { transform: rotate(0deg); }  
  }